build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
.browse.VC*
.vscode
cmake-build-*/
.vs
release/
env/
mods/mod-*
[submodule "src/server/game/LuaEngine"]
	path = src/server/game/LuaEngine
	url = https://github.com/ElunaLuaEngine/Eluna.git
